//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 15 17:56:24 2019
//! **************************************************************************

SCHEMATIC START;
COMP "arduiCLK" LOCATE = SITE "P99" LEVEL 1;
COMP "modeOut0" LOCATE = SITE "P115" LEVEL 1;
COMP "modeOut1" LOCATE = SITE "P114" LEVEL 1;
COMP "arduiStar<0>" LOCATE = SITE "P112" LEVEL 1;
COMP "arduiStar<1>" LOCATE = SITE "P111" LEVEL 1;
COMP "arduiStar<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "p81" LOCATE = SITE "P81" LEVEL 1;
COMP "p82" LOCATE = SITE "P82" LEVEL 1;
COMP "p74" LOCATE = SITE "P74" LEVEL 1;
COMP "p75" LOCATE = SITE "P75" LEVEL 1;
COMP "p67" LOCATE = SITE "P67" LEVEL 1;
COMP "s<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "p84" LOCATE = SITE "P84" LEVEL 1;
COMP "s<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "arduiData<0>" LOCATE = SITE "P104" LEVEL 1;
COMP "p78" LOCATE = SITE "P78" LEVEL 1;
COMP "p79" LOCATE = SITE "P79" LEVEL 1;
COMP "s<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "arduiData<1>" LOCATE = SITE "P102" LEVEL 1;
COMP "arduiData<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "arduiData<3>" LOCATE = SITE "P100" LEVEL 1;
COMP "NumOUT<0>" LOCATE = SITE "P2" LEVEL 1;
COMP "bcdebug<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "NumOUT<1>" LOCATE = SITE "P143" LEVEL 1;
COMP "bcdebug<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "NumOUT<2>" LOCATE = SITE "P141" LEVEL 1;
COMP "bcdebug<2>" LOCATE = SITE "P87" LEVEL 1;
COMP "NumOUT<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "bcdebug<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "NumIN<0>" LOCATE = SITE "P137" LEVEL 1;
COMP "NumIN<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "NumIN<2>" LOCATE = SITE "P131" LEVEL 1;
COMP "NumIN<3>" LOCATE = SITE "P126" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

